<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Water fallll!!!</title>
    <style>
        /* CSS is the same */
        body, html { margin: 0; padding: 0; height: 100%; overflow: hidden; }
        #bgVideo { width: 100vw; height: 100vh; object-fit: cover; position: fixed; top: 0; left: 0; z-index: -1; }
    </style>
</head>
<body>

    <video autoplay loop muted id="bgVideo">
        <source src="{{ url_for('static', filename='vid1.mp4') }}" type="video/mp4">
        <source src="{{ url_for('static', filename='vid2.mp4') }}" type="video/mp4">

        Your browser does not support the video tag.
    </video>

</body>
</html>